*{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

button {
    background-color: rgb(141, 82, 82);
    border-radius: 20px;
    border: none;
    color: azure;
    padding: 10px;
    text-transform: uppercase;
    width: 200px;
}
#diceholder {
    height: 100px;
    width: 100px;
    padding: 50px;
    margin: 50px auto;
    border: 10px solid rgb(190, 190, 190);
    border-radius: 10px;
    font-size: 80px;
    font-weight: bold;
}