body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
h1{
    font-family: "Delius Swash Caps", cursive;
    font-size: 40px;
    color: rgb(105, 139, 149);
    text-align: center;
}

#shopping-list {
    list-style-type: none;
    padding: 0;
}
.shopping-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid hsl(186, 27%, 66%);
    margin: 5px 0px;
    border-radius: 5px;
}
#new-task {
    padding: 10px;
    width: calc(100% - 22px);
    margin-bottom: 10px;
}
button {
    display: flex;
    padding: 10px 20px;
    background-color: rgb(173, 201, 207);
    color: azure;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    justify-content: center;
}
button:hover{
    background-color: rgb(61, 86, 96);
}
.delete-btn {
    background-color: rgb(116, 140, 154);
}
.delete-btn:hover {
    background-color: rgb(0, 0, 0);
}
